@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  line-height: 100%;
  color: rgb(51, 51, 51);
  font-variant: small-caps;
  text-align: center;
  font-size: 30px;
  letter-spacing: 0%;
}
.title::after {
  width: 60px;
  content: "";
  background-color: rgb(243, 129, 129);
  display: block;
  height: 4px;
  margin: 0 auto;
}

.subtitle {
  text-align: center;
  line-height: 100%;
  font-weight: 400;
  padding-bottom: 20px;
  color: rgb(51, 51, 51);
  letter-spacing: 0%;
  font-family: "Kaushan Script", sans-serif;
  font-size: 24px;
}

.footer__description {
  line-height: auto;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
}

.footer {
  padding-bottom: 10px;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top-style: solid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  border-top-color: rgb(182, 182, 182);
  border-top-width: 1px;
}
.footer__description {
  color: rgb(0, 0, 0);
}
.footer__link {
  color: rgb(243, 129, 129);
}
.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__input {
  font-style: italic;
  border-width: 1px;
  font-family: "Roboto", sans-serif;
  line-height: auto;
  border-color: rgb(182, 182, 182);
  color: rgb(182, 182, 182);
  padding: 12px 145px 11px 10px;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0;
  border-style: solid;
}
.footer__button {
  font-size: 14px;
  padding: 11px 38px 12px 38px;
  border-width: 0;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-variant: small-caps;
  line-height: auto;
  letter-spacing: 0;
  background-color: rgb(149, 225, 211);
}

.service {
  padding-top: 68px;
  padding-bottom: 100px;
}
.service__container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.service__list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
  row-gap: 100px;
}
.service__icon {
  fill: rgb(149, 225, 211);
}
.service__icon:hover {
  fill: rgb(243, 129, 129);
}
.service__item {
  -ms-flex-preferred-size: calc((100% - 200px) / 3);
      flex-basis: calc((100% - 200px) / 3);
}
.service__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.service__title {
  font-weight: 400;
  padding-left: 20px;
  color: rgb(51, 51, 51);
  line-height: auto;
  font-size: 14px;
  font-variant: small-caps;
  letter-spacing: 0;
}
.service__description {
  padding-left: 19px;
  width: 310px;
  font-family: "Roboto", sans-serif;
  color: rgb(182, 182, 182);
  line-height: 22px;
  padding-top: 20px;
  font-weight: 400;
  letter-spacing: 0;
  font-size: 15px;
}
.service__icon {
  width: 37px;
  height: 37px;
  padding-top: 3px;
}

.title--service::after {
  margin-top: 40px;
  margin-bottom: 65px;
}

.header {
  padding-top: 17px;
}
.header__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 55px;
}
.header__link {
  letter-spacing: 0;
  line-height: auto;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(149, 225, 211);
  font-size: 14px;
}
.header__link:hover {
  border-color: rgb(243, 129, 129);
  padding-bottom: 10px;
  color: rgb(243, 129, 129);
  border-bottom: 3px solid;
}
.header__logo {
  letter-spacing: 0%;
  color: rgb(149, 225, 211);
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
}

.menu__button {
  display: none;
  width: 30px;
  overflow: hidden;
  height: 30px;
  position: relative;
  z-index: 2;
}

.menu__button span {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 2px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  background-color: #222222;
  width: 30px;
  top: 50%;
  left: 50%;
}

.menu__button span:nth-of-type(2) {
  top: calc(50% - 5px);
}

.menu__button span:nth-of-type(3) {
  top: calc(50% + 5px);
}

.menu__button.active span:nth-of-type(1) {
  display: none;
}

.menu__button.active span:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
          transform: translate(-50%, 0%) rotate(45deg);
}

.menu__button.active span:nth-of-type(3) {
  top: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(-45deg);
          transform: translate(-50%, 0%) rotate(-45deg);
}

.burger-menu {
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  padding: 15px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  position: fixed;
  background-color: rgb(149, 225, 211);
  top: 0;
  width: 100%;
  left: 0;
}

.burger-menu.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  overflow: hidden;
}

.burger-menu__item {
  list-style-type: none;
}

.burger-menu__link.active {
  color: rgb(243, 129, 129);
  font-size: 30px;
  font-weight: 600;
}
.burger-menu__link.active:hover {
  color: rgb(149, 225, 211);
  font-size: 40px;
  text-shadow: 0 0 10px 2px black;
  text-align: center;
}

.burger-menu__link.active:hover .burger-menu.active {
  background-color: black;
}

.burger-menu__list.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px;
}

.page {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.page.blur {
  display: none;
  pointer-events: none;
}

.about {
  text-align: center;
  padding-bottom: 80px;
}
.about__description {
  font-size: 15px;
  line-height: auto;
  padding-right: 48px;
  font-weight: 400;
  padding-bottom: 27px;
  color: rgb(182, 182, 182);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  letter-spacing: 0;
  padding-left: 48px;
  font-family: "Roboto", sans-serif;
}
.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.about__name {
  padding-bottom: 11px;
  padding-top: 30px;
  letter-spacing: 0;
  line-height: auto;
  font-weight: 400;
  font-size: 14px;
  color: rgb(51, 51, 51);
  font-variant: small-caps;
}
.about__role {
  font-style: italic;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: rgb(182, 182, 182);
  font-weight: 300;
  line-height: auto;
  letter-spacing: 0;
  font-size: 15px;
}
.about__article {
  position: relative;
}
.about__article:hover .about__overlay {
  display: block;
}
.about__overlay {
  display: none;
  width: 380px;
  height: 470px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(239, 139, 138, 0.8)), to(rgba(229, 207, 130, 0.8)));
  background-image: linear-gradient(to bottom, rgba(239, 139, 138, 0.8), rgba(229, 207, 130, 0.8));
  position: absolute;
}

.title--about::after {
  margin-top: 36px;
  margin-bottom: 45px;
}

@media (max-width: 393px) {
  .burger-menu__button {
    display: inline-block;
  }
  .container {
    width: 340px;
    margin: 0 auto;
  }
  .title {
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    font-variant: small-caps;
    font-size: 24px;
    color: rgb(51, 51, 51);
    letter-spacing: 0%;
  }
  .title::after {
    width: 20px;
    margin: 0 auto;
    display: block;
    content: "";
    background-color: rgb(243, 129, 129);
    height: 2px;
  }
  .subtitle {
    font-family: "Kaushan Script", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
    padding-bottom: 10px;
    line-height: 100%;
    color: rgb(51, 51, 51);
    letter-spacing: 0%;
  }
  .header {
    padding-top: 4px;
  }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 55px;
    display: none;
  }
  .header__link {
    letter-spacing: 0;
    font-size: 14px;
    line-height: auto;
    text-transform: uppercase;
    color: rgb(149, 225, 211);
    font-weight: 400;
  }
  .header__link:hover {
    border-bottom: 3px solid;
    padding-bottom: 10px;
    color: rgb(243, 129, 129);
    border-color: rgb(243, 129, 129);
  }
  .header__logo {
    font-weight: 700;
    line-height: 100%;
    font-size: 30px;
    color: rgb(149, 225, 211);
    letter-spacing: 0%;
  }
  .service {
    padding-top: 38px;
    padding-bottom: 70px;
  }
  .service__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .service__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .service__item {
    width: 100%;
  }
  .service__article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .service__title {
    line-height: auto;
    font-weight: 400;
    font-size: 18px;
    padding-left: 20px;
    letter-spacing: 0;
    color: rgb(51, 51, 51);
    font-variant: small-caps;
  }
  .service__description {
    font-weight: 400;
    padding-top: 20px;
    padding-left: 19px;
    letter-spacing: 0;
    font-size: 15px;
    width: 310px;
    font-family: "Roboto", sans-serif;
    color: rgb(182, 182, 182);
    line-height: 22px;
  }
  .service__icon {
    height: 37px;
    padding-top: 3px;
    width: 37px;
  }
  .title--service::after {
    margin-top: 40px;
    margin-bottom: 65px;
  }
  .about {
    text-align: center;
    padding-bottom: 80px;
  }
  .about__description {
    font-size: 12px;
    line-height: auto;
    padding-left: 48px;
    letter-spacing: 0;
    color: rgb(182, 182, 182);
    padding-bottom: 27px;
    font-family: "Roboto", sans-serif;
    padding-right: 48px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-weight: 400;
  }
  .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .about__title {
    line-height: auto;
    font-variant: small-caps;
    padding-top: 30px;
    font-weight: 400;
    padding-bottom: 11px;
    color: rgb(51, 51, 51);
    letter-spacing: 0;
    font-size: 14px;
  }
  .about__role {
    font-style: italic;
    letter-spacing: 0;
    font-weight: 300;
    margin: 0;
    color: rgb(182, 182, 182);
    line-height: auto;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
  }
  .about__article {
    position: relative;
  }
  .about__article:hover .about__overlay {
    display: block;
  }
  .about__image {
    width: 260px;
    height: 300px;
  }
  .about__overlay {
    position: absolute;
    width: 260px;
    height: 300px;
    display: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(239, 139, 138, 0.8)), to(rgba(229, 207, 130, 0.8)));
    background-image: linear-gradient(to bottom, rgba(239, 139, 138, 0.8), rgba(229, 207, 130, 0.8));
  }
  .title--about::after {
    margin-top: 16px;
    margin-bottom: 15px;
  }
  .footer {
    padding-bottom: 10px;
  }
  .footer__description {
    letter-spacing: 0;
    font-weight: 400;
    font-size: 8px;
    line-height: auto;
    color: rgb(0, 0, 0);
  }
  .footer__input {
    border-width: 1px;
    font-style: italic;
    font-family: "Roboto", sans-serif;
    border-style: solid;
    line-height: auto;
    font-weight: 300;
    padding: 12px 75px 11px 10px;
    border-color: rgb(182, 182, 182);
    font-size: 10px;
    color: rgb(182, 182, 182);
    letter-spacing: 0;
  }
  .footer__button {
    font-variant: small-caps;
    padding: 8px 25px 9px 25px;
    border-width: 0;
    color: rgb(255, 255, 255);
    line-height: auto;
    font-size: 10px;
    letter-spacing: 0;
    background-color: rgb(149, 225, 211);
    font-weight: 700;
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 992px) {
  .container {
    width: 960px;
  }
  .service__list {
    row-gap: 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
  .service__item {
    width: 45%;
  }
  .about__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__item {
    width: 45%;
  }
}
@media (max-width: 768px) {
  .container {
    width: 750px;
  }
  .header__list {
    gap: 30px;
  }
  .service__list {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
  .about__image {
    width: 320px;
  }
  .about__overlay {
    width: 320px;
    height: 396px;
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}/*# sourceMappingURL=main.css.map */