@use '../utils/variables' as *;
@use '../utils/placeholders' as *;
@use '../utils/fonts' as *;

.footer {
	padding-bottom: 10px;

	&__container {
		display: flex;
		border-top-style: solid;
		justify-content: space-between;
		align-items: center;
		padding-top: 10px;
		border-top-color: $paragraph-color;
		border-top-width: 1px;
	}

	&__description {
		@extend %footer-text;
		color: $footer-description-color;
	}

	&__link {
		color: $hover-text-color;
	}

	&__form {
		display: flex;
	}

	&__input {
		font-style: italic;
		border-width: 1px;
		font-family: 'Roboto', sans-serif;
		line-height: auto;
		border-color: $paragraph-color;
		color: $paragraph-color;
		padding: 12px 0px 11px 10px;
		font-weight: 300;
		font-size: 14px;
		letter-spacing: 0;
		border-style: solid;
		width: 230px;
		border-right: none;
	}

	&__button {
		font-size: 14px;
		padding: 11px 38px 12px 38px;
		border-width: 0;
		color: $background-color;
		font-weight: 700;
		font-variant: small-caps;
		line-height: auto;
		letter-spacing: 0;
		background-color: $navigation-text-color;
	}
}
