@use '../utils/variables' as *;
@use '../utils/fonts' as *;

.service {
	padding-top: 68px;
	padding-bottom: 100px;

	&__container {
		flex-wrap: wrap;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
	}

	&__list {
		justify-content: center;
		flex-wrap: wrap;
		display: flex;
		column-gap: 70px;
		row-gap: 100px;
	}

	&__icon {
		fill: $navigation-text-color;

		&:hover {
			fill: $hover-text-color;
		}
	}

	&__item {
		flex-basis: calc((100% - 200px) / 3);
	}

	&__article {
		display: flex;
	}

	&__title {
		font-weight: 400;
		padding-left: 20px;
		color: $title-color;
		line-height: auto;
		font-size: 14px;
		font-variant: small-caps;
		letter-spacing: 0;
	}

	&__description {
		padding-left: 19px;
		width: 310px;
		font-family: 'Roboto', sans-serif;
		color: $paragraph-color;
		line-height: 22px;
		padding-top: 20px;
		font-weight: 400;
		letter-spacing: 0;
		font-size: 15px;
	}

	&__icon {
		width: 37px;
		height: 37px;
		padding-top: 3px;
	}
}

.title--service::after {
	margin-top: 40px;
	margin-bottom: 65px;
}
