@use '../utils/variables' as *;
@use '../utils/placeholders' as *;
@use '../utils/fonts' as *;

@media (max-width: 393px) {
	.burger-menu__button {
		display: inline-block;
	}

	.container {
		width: 340px;
		margin: 0 auto;
	}

	.title {
		font-weight: 700;
		line-height: 100%;
		text-align: center;
		font-variant: small-caps;
		font-size: 24px;
		color: $title-color;
		letter-spacing: 0%;

		&::after {
			width: 20px;
			margin: 0 auto;
			display: block;
			content: '';
			background-color: $hover-text-color;
			height: 2px;
		}
	}

	.subtitle {
		font-family: 'Kaushan Script', sans-serif;
		font-weight: 400;
		text-align: center;
		font-size: 18px;
		padding-bottom: 10px;
		line-height: 100%;
		color: $title-color;
		letter-spacing: 0%;
	}

	.header {
		padding-top: 4px;

		&__container {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__list {
			display: flex;
			gap: 55px;
			display: none;
		}

		&__link {
			letter-spacing: 0;
			font-size: 14px;
			line-height: auto;
			text-transform: uppercase;
			color: $navigation-text-color;
			font-weight: 400;

			&:hover {
				border-bottom: 3px solid;
				padding-bottom: 10px;
				color: $hover-text-color;
				border-color: $hover-text-color;
			}
		}

		&__logo {
			font-weight: 700;
			line-height: 100%;
			font-size: 30px;
			color: $navigation-text-color;
			letter-spacing: 0%;
		}
	}

	.service {
		padding-top: 38px;
		padding-bottom: 70px;

		&__container {
			display: flex;
			flex-direction: column;
			margin: 0 auto;
			flex-wrap: wrap;
		}

		&__list {
			display: flex;
			flex-wrap: wrap;
			column-gap: 50px;
			justify-content: center;
		}

		&__item {
			width: 100%;
		}

		&__article {
			display: flex;
		}

		&__title {
			line-height: auto;
			font-weight: 400;
			font-size: 18px;
			padding-left: 20px;
			letter-spacing: 0;
			color: $title-color;
			font-variant: small-caps;
		}

		&__description {
			font-weight: 400;
			padding-top: 20px;
			padding-left: 19px;
			letter-spacing: 0;
			font-size: 15px;
			width: 310px;
			font-family: 'Roboto', sans-serif;
			color: $paragraph-color;
			line-height: 22px;
		}

		&__icon {
			height: 37px;
			padding-top: 3px;
			width: 37px;
		}
	}

	.title--service::after {
		margin-top: 40px;
		margin-bottom: 65px;
	}

	.about {
		text-align: center;
		padding-bottom: 80px;

		&__description {
			font-size: 12px;
			line-height: auto;
			padding-left: 48px;
			letter-spacing: 0;
			color: $paragraph-color;
			padding-bottom: 27px;
			font-family: 'Roboto', sans-serif;
			padding-right: 48px;
			flex-wrap: wrap;
			font-weight: 400;
		}

		&__list {
			display: flex;
			flex-direction: column;
			gap: 30px;
		}

		&__title {
			line-height: auto;
			font-variant: small-caps;
			padding-top: 30px;
			font-weight: 400;
			padding-bottom: 11px;
			color: $title-color;
			letter-spacing: 0;
			font-size: 14px;
		}

		&__role {
			font-style: italic;
			letter-spacing: 0;
			font-weight: 300;
			margin: 0;
			color: $paragraph-color;
			line-height: auto;
			font-family: 'Roboto', sans-serif;
			font-size: 12px;
		}

		&__article {
			position: relative;

			&:hover .about__overlay {
				display: block;
			}
		}

		&__image {
			width: 260px;
			height: 300px;
		}

		&__overlay {
			position: absolute;
			width: 260px;
			height: 300px;
			display: none;
			background-image: linear-gradient(
				to bottom,
				rgba(239, 139, 138, 0.8),
				rgba(229, 207, 130, 0.8)
			);
		}
	}
	.title--about::after {
		margin-top: 16px;
		margin-bottom: 15px;
	}

	.footer {
		padding-bottom: 10px;

		&__description {
			letter-spacing: 0;
			font-weight: 400;
			font-size: 8px;
			line-height: auto;
			color: $footer-description-color;
		}

		&__input {
			border-width: 1px;
			font-style: italic;
			font-family: 'Roboto', sans-serif;
			border-style: solid;
			line-height: auto;
			font-weight: 300;
			padding: 12px 75px 11px 10px;
			border-color: $paragraph-color;
			font-size: 10px;
			color: $paragraph-color;
			letter-spacing: 0;
		}

		&__button {
			font-variant: small-caps;
			padding: 8px 25px 9px 25px;
			border-width: 0;
			color: $background-color;
			line-height: auto;
			font-size: 10px;
			letter-spacing: 0;
			background-color: $navigation-text-color;
			font-weight: 700;
		}

		&__container {
			flex-direction: column;
		}
	}
}

@media (max-width: 992px) {
	.container {
		width: 960px;
	}

	.service {
		&__list {
			row-gap: 50px;
			flex-wrap: wrap;
			column-gap: 40px;
		}

		&__item {
			width: 45%;
		}
	}
	.about {
		&__list {
			flex-wrap: wrap;
			justify-content: center;
		}

		&__item {
			width: 45%;
		}
	}
}

@media (max-width: 768px) {
	.container {
		width: 750px;
	}

	.header {
		&__list {
			gap: 30px;
		}
	}
	.service {
		&__list {
			column-gap: 30px;
			justify-content: center;
			row-gap: 40px;
			flex-wrap: wrap;
		}
	}

	.about {
		&__list {
			display: flex;
			justify-content: center;
			gap: 30px;
		}

		&__image {
			width: 320px;
		}

		&__overlay {
			width: 320px;
			height: 396px;
		}
	}

	.footer__container {
		flex-direction: column;
		gap: 10px;
	}
}
