@use '../utils/variables' as *;
@use '../utils/fonts' as *;

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.title {
	font-weight: 700;
	line-height: 100%;
	color: $title-color;
	font-variant: small-caps;
	text-align: center;
	font-size: 30px;
	letter-spacing: 0%;

	&::after {
		width: 60px;
		content: '';
		background-color: $hover-text-color;
		display: block;
		height: 4px;
		margin: 0 auto;
	}
}

.subtitle {
	text-align: center;
	line-height: 100%;
	font-weight: 400;
	padding-bottom: 20px;
	color: $title-color;
	letter-spacing: 0%;
	font-family: 'Kaushan Script', sans-serif;
	font-size: 24px;
}

.burger-menu__button {
	display: none;
}

.burger-menu__svg {
	width: 50px;
	height: 50px;
}
